<h3>Bartenders</h3>

<% @bartenders.each do |bartender| %>
  <section id="bartender-<%= bartender.id %>">
    <ul>
      <li><%= bartender.name %> - started working on: <%= bartender.created_at %></li><br/>
    </ul>
  </section>
<% end %>

<%= link_to "New Bartender", "/bartenders/new" %>
