<h2>Bartender : <%= @bartender.name %></h2>


<li>Bartenders Age : <%= @bartender.age %></li><br/>
<li>Bartenders Vacation? : <%= @bartender.on_vacation %></li><br/>
<li>Bartenders City : <%= @bartender.city %></li><br/>
