<h1>Create a New Library</h1>

<form action="/libraries" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">

  <label for="name">Library Name: </label>
  <input type='text' name='name'/><br>
  <label for="staff_count">Library Staff Count: </label>
  <input type='number' name='staff_count'/><br>
  <label for="member_count">Library Member Count: </label>
  <input type='number' name='member_count'/><br>
  <label for="open">Is this library open?</label>
    <p><input type="radio" name="open" value=true checked>Yes</input>
       <input type="radio" name="open" value=false >No</input></p>
  <input type='submit' name='submit' value = 'Create Library'>
</form>
